.fixed-content {
	background-color: #e74c3c;
}

.item {
	background-color: #e74c3c;
	color: white;
}

.toolbar-background {
	background-color: #c0392b;
}

.toolbar-title {
		color: white;
}

.icon {
	color: white;
}

.timer {
	font-size: 9em;
	color: white;
}

.back-button-text {
	color: white;
}
